[submodule "syscall_benchmark"]
	path = bench/syscall/syscall_benchmark
	url = git@github.com:saadislamm/syscall_benchmark.git
[submodule "ipc-bench"]
	path = bench/ipc-bench
	url = git@github.com:rigtorp/ipc-bench.git
[submodule "nbench"]
	path = bench/nbench
	url = git@github.com:toshsan/nbench.git
[submodule "byte-unixbench"]
	path = bench/unixbench
	url = git@github.com:kdlucas/byte-unixbench.git
[submodule "lmbench"]
	path = bench/lmbench
	url = git@github.com:intel/lmbench.git
[submodule "tls-perf"]
	path = bench/tls-perf
	url = git@github.com:tempesta-tech/tls-perf.git
[submodule "lighttpd1.4"]
	path = apps/lighttpd
	url = git@github.com:lighttpd/lighttpd1.4.git
[submodule "nginx"]
	path = apps/nginx
	url = git@github.com:nginx/nginx.git
[submodule "proftpd"]
	path = apps/proftpd
	url = git@github.com:proftpd/proftpd.git
[submodule "libc-bench"]
	path = bench/libc-bench
	url = git://git.musl-libc.org/libc-bench
[submodule "bench/spec-int-2006"]
	path = bench/spec/spec-int-2006
	url = git@github.com:snake0/spec-int-2006.git
[submodule "bench/speccpu2006"]
	path = bench/spec/speccpu2006
	url = git@github.com:hubzhangxj/speccpu2006.git
[submodule "bench/sysbench"]
	path = bench/sysbench
	url = git@github.com:akopytov/sysbench.git
[submodule "apps/httpd"]
	path = apps/httpd
	url = git@github.com:apache/httpd.git
[submodule "apps/sqlite-bench"]
	path = apps/sqlite-bench
	url = git@github.com:ukontainer/sqlite-bench.git
[submodule "bench/spec/spec_on_ubuntu_xenial"]
	path = bench/spec/spec_on_ubuntu_xenial
	url = git@github.com:sjp38/spec_on_ubuntu_xenial.git
[submodule "apps/memcached"]
	path = apps/memcached
	url = git@github.com:memcached/memcached.git
[submodule "apps/redis"]
	path = apps/redis
	url = git@github.com:redis/redis.git
[submodule "apps/mbedtls"]
	path = apps/mbedtls
	url = git@github.com:Mbed-TLS/mbedtls.git
[submodule "atc22-ae"]
	path = atc22-ae
	url = git@github.com:HyperEnclave/atc22-ae.git
[submodule "apps/unqlite"]
	path = apps/unqlite
	url = git@github.com:symisc/unqlite.git
[submodule "apps/wolfssl"]
	path = apps/wolfssl
	url = git@github.com:wolfSSL/wolfssl.git
[submodule "apps/wolfssl-examples"]
	path = apps/wolfssl-examples
	url = git@github.com:wolfSSL/wolfssl-examples.git
[submodule "bench/siege"]
	path = bench/siege
	url = git@github.com:JoeDog/siege.git
[submodule "apps/beanstalkd"]
	path = apps/beanstalkd
	url = git@github.com:beanstalkd/beanstalkd.git
[submodule "apps/spngt"]
	path = apps/spngt
	url = git@github.com:libspng/spngt.git
[submodule "apps/SGX-OpenSSL"]
	path = apps/SGX-OpenSSL
	url = git@github.com:sparkly9399/SGX-OpenSSL.git
[submodule "apps/tls-perf"]
	path = apps/tls-perf
	url = git@github.com:tempesta-tech/tls-perf.git
[submodule "apps/SGXGauge-Benchmark"]
	path = apps/SGXGauge-Benchmark
	url = git@github.com:sandeep007734/SGXGauge-Benchmark.git
[submodule "bench/XSBench"]
	path = bench/XSBench
	url = git@github.com:ANL-CESAR/XSBench.git
