*.cmd
*.symvers
*.order
*.o
*.d
*.dat
*.txt
*.pdf
*.csv
*.zip
*.tar
*.tar.*
.dirstamp
.deps
.libs
.history
aclocal.m4
ar-lib
autom4te.cache
*.log.*
config.*
depcomp
install-sh
ltmain.sh
missing
stamp-h1
configure
configure~
configure.scan
compile
Makefile
Makefile.in
# line-counter
out
# vscode
.vscode
.history
debian
